@font-face {
    font-family: font;
    src: url(./fonts/Rustic\ Barn.ttf);
}



body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(255, 255, 255);
    line-height: 1.8;
}

nav{
    /* position: fixed; */
    top: 2px;
    background-color:rgba(201, 162, 174, 0.589);
    padding: 10px 0;
    width: 100%;
}

header{
    padding: 10px 0;
    text-align: center;
}

header h1{
    margin: 2px;
}

nav ul{
    list-style: none;
    padding: 2px;
}

nav ul li{
    display: inline;
    margin: 0 12px;
}

form input, form textarea{
    padding: 12px;
    margin-top: 6px;
    border: 2px solid rgb(241, 176, 176);
}

form label{
    margin-top: 15px;
}

form button{
    margin-top: 12px;
    padding: 18px;
    background-color: black;
    color: rgb(216, 153, 72);
    border: none;
    cursor: pointer;
}

form{
    display: flex;
    flex-direction: column;
    max-width: 4%
    margin; auto;
}

h1{
    font-family:font;
    font-size: 70px;
}

main{
    padding: 30px;
    width: 60%;
    margin: auto;
}

table{
    width: 100%;
    border-collapse: separate;
}

table,th,td{
    padding: 12px;
    text-align: center;
    border: 1px solid rgb(241, 176, 176);
}


